.App{
    background-color: #398DCF;
}

.title{
    padding-top: 1em;
    text-align: center;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    text-shadow: 3px 3px #212529;
}