@media (max-width:500){

:root {
  --doc-height:100%;
}

body{
  height:100vh;
  height: var(--doc-height);
  display:flex;
  justify-content: center;
  align-items: center;
  
}

section{
  height:1020px;
  width:480px;
  border:1px solid darkblue;
}

}