.header {
  text-align: center;
  margin-left: 300px;
  color: white;
  position: relative;
  top: 60px;
}

.col-sm-9 {

  font-size: 35px;
}



.row {
  text-decoration: none;
  font-size: 25px;
  margin-left: 0px;
  margin-right: 0px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}